body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #111;
    color: white;
    text-align: center;
    padding: 25px;
}

nav {
    background-color: #333;
}

.nav-menu {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.nav-menu li {
    margin: 0 20px;
}

.nav-menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}


main {
    text-align: center;
    padding: 20px;
}


.image-section {
    display: flex;
    justify-content: center;
    gap: 20px;
}

img {
    width: 250px;
    border-radius: 8px;
}

@media screen and (max-width: 600px) {

    /* Stack navigation menu vertically */
    .nav-menu {
        flex-direction: column;
        align-items: center;
    }

    .nav-menu li {
        margin: 10px 0;
    }

    /* Stack images vertically */
    .image-section {
        flex-direction: column;
    }
}